[submodule "vendor/use-package"]
	path = vendor/use-package
	url = http://github.com/jwiegley/use-package.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
