[submodule "vendor/eproject"]
	path = vendor/eproject
	url = http://github.com/jrockway/eproject.git
	pushurl = ssh://github.com/pdixon/eproject.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/bbatsov/solarized-emacs.git
