*.orig
*.rej
*~
.#*
#*
*.dat
*.elc
.DS_Store
session.*


history
tramp
url/
var/
/.org-id-locations
semanticdb/
/bookmarks
/ede-projects.el
elpa/

/srecode-map.el
/TAGS
/.emacs.desktop
/ido.last
/places
/recentf
/irony/
/network-security.data
/site-lisp/
/smex-items
/transient/
/forge-database.sqlite
/.lsp-session-v1
/eln-cache/
/projects
/org-persist/
